In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
data=pd.read_csv('Churn_Modelling.csv')
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encodr_gender = LabelEncoder()
data['Gender'] = label_encodr_gender.fit_transform(data['Gender'])

In [12]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [5]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
# Combine one-hot encoded columns with original data
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
# Split the data into features and target
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [13]:
# Split the data in training and testing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [14]:
# Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
# save the encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo, file)

with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

ANN Regression Problem Statement

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [18]:
# Build our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # HL1 Connected with input layer
    Dense(32,activation='relu'),  # HL2
    Dense(1)  # output layer for regression

])

# Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

Model: "sequential_1"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_3 (Dense)                 │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_4 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_5 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

# Set up the Tensorboard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [20]:
# Set up Early Stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [21]:
# Train the model
history = model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback,]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - loss: 101104.0234 - mae: 101104.0234 - val_loss: 98509.7734 - val_mae: 98509.7734
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 100140.7422 - mae: 100140.7422 - val_loss: 97018.7578 - val_mae: 97018.7578
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 97387.6484 - mae: 97387.6484 - val_loss: 93243.3594 - val_mae: 93243.3594
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 92626.5156 - mae: 92626.5156 - val_loss: 86943.1406 - val_mae: 86943.1406
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 86870.6016 - mae: 86870.6016 - val_loss: 78809.0938 - val_mae: 78809.0938
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 77599.9609 - mae: 77599.9609 - val_loss: 70234.2422 - val_mae: 70234.2422
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 69106.8359 - mae: 69106.8359 - val_loss: 62557.4609 - val_mae: 62557.4609
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 61554.5820 - mae: 61554.5820 - val_loss: 56833.3750 - val_mae: 56833.3750
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 56191.2461 - mae: 56191.2461 - val_loss: 53311.9688 - val_mae: 53311.9688
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - loss: 53346.0820 - mae: 53346.0820 - val_loss: 51619.8125 - val_mae: 51619.8125
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 51356.4688 - mae: 51356.4688 - val_loss: 51030.8047 - val_mae: 51030.8047
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50812.6992 - mae: 50812.6992 - val_loss: 50835.1992 - val_mae: 50835.1992
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50790.3125 - mae: 50790.3125 - val_loss: 50741.8867 - val_mae: 50741.8867
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50204.9219 - mae: 50204.9219 - val_loss: 50677.6914 - val_mae: 50677.6914
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50257.2266 - mae: 50257.2266 - val_loss: 50627.1211 - val_mae: 50627.1211
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50291.9492 - mae: 50291.9492 - val_loss: 50581.4883 - val_mae: 50581.4883
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 50116.7070 - mae: 50116.7070 - val_loss: 50536.5039 - val_mae: 50536.5039
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50078.0469 - mae: 50078.0469 - val_loss: 50503.0938 - val_mae: 50503.0938
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50369.1992 - mae: 50369.1992 - val_loss: 50466.0508 - val_mae: 50466.0508
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50052.4727 - mae: 50052.4727 - val_loss: 50435.7539 - val_mae: 50435.7539
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49927.5586 - mae: 49927.5586 - val_loss: 50405.7148 - val_mae: 50405.7148
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50033.7578 - mae: 50033.7578 - val_loss: 50389.1328 - val_mae: 50389.1328
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50062.9023 - mae: 50062.9023 - val_loss: 50357.6719 - val_mae: 50357.6719
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50191.7578 - mae: 50191.7578 - val_loss: 50343.8750 - val_mae: 50343.8750
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49809.8711 - mae: 49809.8711 - val_loss: 50319.6055 - val_mae: 50319.6055
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49456.1953 - mae: 49456.1953 - val_loss: 50303.3125 - val_mae: 50303.3125
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49691.3867 - mae: 49691.3867 - val_loss: 50281.9023 - val_mae: 50281.9023
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49979.8359 - mae: 49979.8359 - val_loss: 50271.1953 - val_mae: 50271.1953
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49491.0195 - mae: 49491.0195 - val_loss: 50265.4961 - val_mae: 50265.4961
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49727.4297 - mae: 49727.4297 - val_loss: 50253.4805 - val_mae: 50253.4805
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49871.9062 - mae: 49871.9062 - val_loss: 50245.4102 - val_mae: 50245.4102
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49712.6094 - mae: 49712.6094 - val_loss: 50243.2930 - val_mae: 50243.2930
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49937.4648 - mae: 49937.4648 - val_loss: 50238.5625 - val_mae: 50238.5625
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49776.0547 - mae: 49776.0547 - val_loss: 50240.2852 - val_mae: 50240.2852
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49625.1016 - mae: 49625.1016 - val_loss: 50244.2148 - val_mae: 50244.2148
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49590.5391 - mae: 49590.5391 - val_loss: 50242.7148 - val_mae: 50242.7148
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49753.7344 - mae: 49753.7344 - val_loss: 50237.8164 - val_mae: 50237.8164
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 48904.1172 - mae: 48904.1172 - val_loss: 50242.6758 - val_mae: 50242.6758
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49759.5469 - mae: 49759.5469 - val_loss: 50231.4023 - val_mae: 50231.4023
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49743.5078 - mae: 49743.5078 - val_loss: 50226.3516 - val_mae: 50226.3516
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49559.4180 - mae: 49559.4180 - val_loss: 50222.0000 - val_mae: 50222.0000
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49270.0273 - mae: 49270.0273 - val_loss: 50221.9570 - val_mae: 50221.9570
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49222.4688 - mae: 49222.4688 - val_loss: 50220.7734 - val_mae: 50220.7734
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49737.9062 - mae: 49737.9062 - val_loss: 50223.6172 - val_mae: 50223.6172
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49162.5000 - mae: 49162.5000 - val_loss: 50226.0898 - val_mae: 50226.0898
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50029.2930 - mae: 50029.2930 - val_loss: 50226.1719 - val_mae: 50226.1719
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49935.7891 - mae: 49935.7891 - val_loss: 50224.6172 - val_mae: 50224.6172
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49657.5430 - mae: 49657.5430 - val_loss: 50231.4648 - val_mae: 50231.4648
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49459.5039 - mae: 49459.5039 - val_loss: 50226.8086 - val_mae: 50226.8086
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49884.0625 - mae: 49884.0625 - val_loss: 50220.6211 - val_mae: 50220.6211
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49226.4492 - mae: 49226.4492 - val_loss: 50216.9492 - val_mae: 50216.9492
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49651.3008 - mae: 49651.3008 - val_loss: 50229.4609 - val_mae: 50229.4609
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49561.2344 - mae: 49561.2344 - val_loss: 50236.9609 - val_mae: 50236.9609
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49534.3359 - mae: 49534.3359 - val_loss: 50231.2773 - val_mae: 50231.2773
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49386.9297 - mae: 49386.9297 - val_loss: 50226.2188 - val_mae: 50226.2188
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49346.6992 - mae: 49346.6992 - val_loss: 50237.2461 - val_mae: 50237.2461
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49063.0352 - mae: 49063.0352 - val_loss: 50229.0547 - val_mae: 50229.0547
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 50264.4414 - mae: 50264.4414 - val_loss: 50231.0938 - val_mae: 50231.0938
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49436.6914 - mae: 49436.6914 - val_loss: 50239.2969 - val_mae: 50239.2969
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 49587.1133 - mae: 49587.1133 - val_loss: 50225.2109 - val_mae: 50225.2109
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 49196.8945 - mae: 49196.8945 - val_loss: 50232.3242 - val_mae: 50232.3242

In [22]:
%load_ext tensorboard

In [25]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 27684), started 0:00:17 ago. (Use '!kill 27684' to kill it.)

In [26]:
# Evaluate model on the test data
test_loss, test_mae = model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - loss: 51093.3711 - mae: 51093.3711
Test MAE : 50216.94921875

In [27]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.